path {
    stroke: #fff;
    stroke-width: .5px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 14px sans-serif;
    border: 0px;
    pointer-events: none;
    color: black;
    font-weight: bold;
    background-color: rgba(211,211,211,0.6);
}

#chartSvg {
    margin: 0;
    padding: 0;
    border: solid lightgray;
    border-width: 1px;
    overflow: hidden;
    min-width: calc(1em + 300px);
}

#chartG {}

#chart {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {}

#legend {
    width: 300px;
    background-color: transparent;
    max-height: 300px;
    position: absolute;
    top: 1em;
    left: 1em;
}

.accordionContainer {}

.accordionGroupHeader .panel-heading {
    background-color: white;
}

.accordionGroupHeader.sanctuaryHeader .panel-heading {
    color: white;
    background-color: #B80000;
}

.accordionGroupHeader.antiSanctuaryHeader .panel-heading {
    color: white;
    background-color: #00297B;
}

.accordionGroupHeader.noVoteHeader .panel-heading {
    color: white;
    background-color: #D3D3D3;
}

.accordionGroup {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.accordionItem {
    color: #545454;
    font-size: 14px;
}
